simulator.web3.contracts.actor-registry=
simulator.web3.contracts.honey-token=
simulator.web3.contracts.quality-index=
simulator.web3.contracts.pricing-model=
simulator.web3.contracts.supply-chain=
simulator.web3.contracts.consumer-gateway=

simulator.web3.lab-private-key=
simulator.web3.award-body-private-key=
simulator.web3.certification-body-private-key=
